* {
  box-sizing: border-box;
}

body{
  transition: all 350ms ease-in;
}

p,
div,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 32px;
}

.battleSection {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.fields {
  display: inline-flex;
  gap: 30px;
  max-height: 500px;
}

.yourField,
.enemyField {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  outline: 3px solid black;
  border-radius: 1px;
}

.yourSqwere, .enemySqwere {
  border: 1px solid #808080;
}
.shadow{
  background-color: black;
}

.shipAria {
  background-color: rgb(150, 189, 150);
  transition: background-color 200ms linear;
}
/* .over {
  border: 2px dashed rgb(64, 182, 62);
} */

.shipPart_1.shipAria,
.shipPart_2.shipAria,
.shipPart_3.shipAria,
.shipPart_4.shipAria {
  background-color: rgb(231, 115, 52);
}

.portTitle {
  text-align: center;
  margin-bottom: 32px;
}
.shipPort {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.shipPortPart {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shipDesk {
  outline: 2px solid black;
  border-radius: 5px;
  width: 220px;
}
.shipDesk.x1 {
  height: 120px;
}
.shipDesk.x2 {
  height: 170px;
}
.shipDesk.x3 {
  height: 220px;
}
.shipDesk.x4 {
  height: 270px;
}

.shipDock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.shipDock.x1 {
  height: 70px;
}
.shipDock.x2 {
  height: 120px;
}
.shipDock.x3 {
  height: 170px;
}
.shipDock.x4 {
  height: 220px;
}

.ship {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
}

.shipStatus {
  font-size: 24px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
}
.shipStatus::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  border: 1px solid #808080;
}

.ships_counter_x1,
.ships_counter_x2,
.ships_counter_x3,
.ships_counter_x4 {
  margin-left: 10px;
}

.rotateBtn {
  font-size: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.shipPart,
.shipPart_1,
.shipPart_2,
.shipPart_3,
.shipPart_4 {
  width: 50px;
  height: 50px;
  background-color: blue;
}
