* {
  box-sizing: border-box;
}

body {
  transition: all 350ms ease-in;
}

p,
div,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  padding: 0 32px;
}

.battleSection {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.fieldsWrapper {
  position: relative;
  background-color: #fff;
  flex-direction: column;
}

.fields {
  display: inline-flex;
  gap: 30px;
  max-height: 500px;
}

.buttonsWrapper {
  display: flex;
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  gap: 30px;
  justify-content: center;
  transition: top 2000ms ease-in;
  padding-top: 30px;
}

.buttonsWrapper.afterStart {
  top: 0;
}

.gunsWrapper {
  display: flex;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top 2000ms ease-out;
  padding-top: 30px;
}

.gunsWrapper.afterStart {
  top: 100%;
}

.guns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.gunField {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.yourGun,
.enemyGun {
  transition: transform 350ms ease-in;
  position: relative;
  z-index: 10;
}
.cannonball {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  background-image: url("./img/cannonball.jpg");
  background-size: cover;
  transition: transform 350ms ease-in;
  z-index: 5;
  border-radius: 15px;
}
.cannonball.return {
  animation: moveBack 2s 1s infinite alternate;
}

@keyframes moveBack {
  to {
    transform: translate(-50%, -50%);
  }
}

.refreshBtn,
.startBtn,
.surrenderBtn {
  width: 120px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: #0977c1;
}

.yourField,
.enemyField {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  outline: 3px solid black;
  border-radius: 1px;
  background-image: url("./img/water.jpg");
}

.yourSqwere,
.enemySqwere {
  border: 1px solid #808080;
}
.enemySqwere.shadow {
  background-color: black;
}

.shipAria {
  background-color: rgb(150, 189, 150);
  transition: background-color 200ms linear;
}

.shipPart_1.shipAria,
.shipPart_2.shipAria,
.shipPart_3.shipAria,
.shipPart_4.shipAria {
  background-color: rgb(231, 115, 52);
}

.portTitle {
  text-align: center;
  margin-bottom: 32px;
}
.shipPort {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.shipPortPart {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shipDesk {
  outline: 2px solid black;
  border-radius: 5px;
  width: 220px;
}
.shipDesk.x1 {
  height: 120px;
}
.shipDesk.x2 {
  height: 170px;
}
.shipDesk.x3 {
  height: 220px;
}
.shipDesk.x4 {
  height: 270px;
}

.shipDock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.shipDock.x1 {
  height: 70px;
}
.shipDock.x2 {
  height: 120px;
}
.shipDock.x3 {
  height: 170px;
}
.shipDock.x4 {
  height: 220px;
}

.ship {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
}

.shipStatus {
  font-size: 24px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
}
.shipStatus::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 220px;
  border: 1px solid #808080;
}

.ships_counter_x1,
.ships_counter_x2,
.ships_counter_x3,
.ships_counter_x4 {
  margin-left: 10px;
}

.rotateBtn {
  font-size: 12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.shipPart,
.shipPart_1,
.shipPart_2,
.shipPart_3,
.shipPart_4 {
  width: 50px;
  height: 50px;
  background-color: blue;
}

/* .yourSqwere.shipPart_1,
.yourSqwere.shipPart_2,
.yourSqwere.shipPart_3,
.yourSqwere.shipPart_4 {
  background-image: linear-gradient(to bottom, #FFD500 50%, #005BBF 50%);
}

.enemySqwere.shipPart_1,
.enemySqwere.shipPart_2,
.enemySqwere.shipPart_3,
.enemySqwere.shipPart_4 {
  background-image: linear-gradient(to bottom, #FFFFFF 33.33%, #0039A6 33.33%, #0039A6 66.66%, #D52B1E 66.66%);
} */
